.bg-blue{
    background-color: rgba(139, 0, 139, 0.603)
}
.bg-kit{
    background-color: darkmagenta;
}

body{
    background-image: url(../img/back.jpg);
    background-repeat: repeat;
    background-attachment: fixed;

}

.bg-dar{
  color: hsl(0, 0%, 0%);
  text-align: center;
}

.form-label{
    background-color: rgba(139, 0, 139, 0.516);
}



h1{
    margin: 10px;
    font-size: 30px;
}

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
   
}
 
.car{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
   
}

.even{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
   
}


p{
    font-size: 15px;
    padding: 30px;
    background-color:rgba(139, 0, 139, 0.537);
}

.form{
    padding: 10px;
}

.imgRedonda {
    width: 70px;
    height:70px;
    border-radius:150px;
}

.imagenCarru{
    width: 90vw;
}

.imagenCarru1{
    height: 60vh;
}

.headerImg{

    object-fit: cover;
    width: 100%;
    height: 35rem;

}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 20px auto;
    width: 30%;
    height: 0%;
    padding: 20px 20px;
    border-radius:150px;
    text-decoration: none;
}

.tit{
    margin: 20px auto;
    width: 30%;
    height: 0%;
    padding: 20px 20px;
    border-radius:150px;
    
}


.iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: center;
    
}

.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4654236694677871) 0%, rgba(217,8,209,0.7455357142857143) 55%);
}

.transform:hover{
    transform: translateX(10px);
    transition: transform 1s;
}


.scale:hover{
    transform: scaleX(1.1);
    transition: 1s;
}

#botonera ul li a:visited{
    color: rgb(71, 70, 70);
    font-size: 5rem;
    

}
.selec p.one:first-letter{
    color: rgb(0, 0, 0);
    font-size: 3em;
}

.carddos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
   
}
