
.gradient{
    background: $secondaryColors;
    background:linear-gradient(90deg, rgba(0,0,0,0.4654236694677871) 0%, rgba(217,8,209,0.7455357142857143) 55%);
}

.transform:hover{
    transform: translateX(10px);
    transition: transform 1s;
}

.scale:hover{
    transform: scaleX(1.1);
    transition: 1s;
}

#botonera ul li a:visited{
    color: rgb(71, 70, 70);
    font-size: 2em;
}

.selec p.one:first-letter{
    color: $secondaryColors;
    font-size: $fontpeke;
}