

.imgRedonda{
    width: 70px;
    height: 70px;
    border-radius: $radius;
}

.imagenCarru1{
   width: $alt
}

.imagenCarru{
   height: $view
}

.headerImg{
   object-fit: $fit;
    width: 100%;
 

}


@mixin flex ($dire, $justy,  $item){
   display: flex;
   flex-direction: $dire;
   align-items: $item;
   justify-content: $justy;
   padding: 20px;
   
}

.iconos{
   @include flex(row,center,row)
}


